.content-load-more.not-available {
	& .content-load-more__footer {
		display: none;
	}
}

.content-load-more.is-active {
	& .content-load-more__main {
		transition: max-height 0.15s ease-in;
	}

	& .content-load-more__footer {
		&::before {
			opacity: 0;
		}
	}
}

.content-load-more__main {
	transition: max-height 0.15s ease-out;
}

.content-load-more__footer {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -40px;
		left: 0;
		width: 100%;
		height: 40px;
		z-index: 1;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.25) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		pointer-events: none;
	}
}

.content-load-more__button {
	position: relative;
	z-index: 2;
	border-radius: 0.25em;
	border: none;
	color: var(--bs-primary);
	padding: 0.5em 0;

	& svg {
		fill: var(--bs-primary);
		width: 10px;
		height: 10px;
	}

	&::after {
		content: '';
		height: 2px;
		width: 0;
		background: var(--bs-primary);
		position: absolute;
		bottom: 0;
		left: 0;
		transition: 0.4s ease;
	}

	&:focus {
		background: transparent;
		color: var(--bs-primary);

		& svg {
			fill: var(--bs-primary);
		}
	}

	&:hover {
		color: var(--bs-primary);

		&::after {
			width: 100%;
		}
	}

	& .icon {
		margin-left: 0.5em;
		width: 10px;
		height: 10px;
		transition: 0.4s ease;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.content-load-more.is-active {
	& .icon {
		transform: rotate(-180deg);
	}
}
